.checklistroot {
  text-align: center;
  width: 85vw;
  height: 65vh;
  margin: 15px auto 0;
}

.checklist {
  border-radius: 25px;
}

.slideInner-1,
.slideInner-2,
.slideInner-3,
.slideInner-4 {
  height: 100%;
  max-width: 450px;
  border-radius: 25px;
  background-color: #e2e2e2;
  overflow-y: scroll;
}
.slideInner-1 .slide-head,
.slideInner-2 .slide-head,
.slideInner-3 .slide-head,
.slideInner-4 .slide-head {
  font-size: 2rem;
  line-height: 3rem;
}
.slideInner-1 .checklist-button,
.slideInner-2 .checklist-button,
.slideInner-3 .checklist-button,
.slideInner-4 .checklist-button {
  display: block;
  margin: 5% auto 0;
  padding: 0.5rem;
  border-radius: 25px;
  width: 60%;
  font-family: "nikomoji";
  font-size: 1.5rem;
  color: black;
  box-shadow: 3px 3px 0 black;
}
.slideInner-1 .checklist-button:active,
.slideInner-2 .checklist-button:active,
.slideInner-3 .checklist-button:active,
.slideInner-4 .checklist-button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 0px black;
}
.slideInner-1 .checklist-button.checked,
.slideInner-2 .checklist-button.checked,
.slideInner-3 .checklist-button.checked,
.slideInner-4 .checklist-button.checked {
  color: #fff;
}

.slideInner-1 .checklist-button {
  border: 2px solid #ee4d37;
}
.slideInner-1 .checklist-button.checked {
  background-color: #ee4d37;
}

.slideInner-2 .checklist-button {
  border: 2px solid #70ad00;
}
.slideInner-2 .checklist-button.checked {
  background-color: #70ad00;
}

.slideInner-3 .slide-p {
  margin-top: 0.5rem;
}
.slideInner-3 .checklist-button {
  margin-top: 0.5rem !important;
  border: 2px solid #004aad;
}
.slideInner-3 .checklist-button.checked {
  background-color: #004aad;
}

.slideInner-4 .checklist-button {
  border: 2px solid #b6b911;
}
.slideInner-4 .checklist-button.checked {
  background-color: #b6b911;
}
.slideInner-4 .slide-img {
  width: 70%;
  margin: auto;
  border: 2px solid #e2e2e2;
}
.slideInner-4 .slide-img img {
  border-radius: 25px;
  width: 100%;
}

.content {
  transition: background-color 0.5s ease;
}

.slide-1 {
  background-color: #004aad;
}

.slide-2 {
  background-color: #70ad00;
}

.slide-3 {
  background-color: #ee4d37;
}

.slide-4 {
  background-color: #b6b911;
}

.button-icon {
  margin: 0 auto;
  width: 40%;
}

.send-text {
  padding: 0.5rem;
  width: 60vw;
  border: 2px solid #70ad00;
  border-radius: 25px;
}

.slide-p {
  font-size: 1.5rem;
}

.basemagorun {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checklist-div {
  max-width: 100px;
  max-height: 100px;
  padding: 1px;
  border: 2px solid #e2e2e2;
  border-radius: 25px;
}
.checklist-div .div-icon {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.slide-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5px 2rem;
}

.slide-already {
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: #004aad;
  border-radius: 9999px;
  box-shadow: 2px 2px 0px black;
}

.slide-p-top {
  margin-top: 0.5rem;
}

.modal-img {
  width: 80%;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */