$korashoColor: #ee4d37;
$white: #fff;
$darkblue: #004aad;
$green: #70ad00;
$gray: #e2e2e2;
$yellow: #b6b911;

$fontfamily: "nikomoji";
$big: 3rem;
$middlelarge: 2rem;
$middle: 1.5rem;
$normal: 1rem;
$small: 0.5rem;


.checklistroot {
    text-align: center;
    width: 85vw;
    height: 65vh;
    margin: 15px auto 0;
}

.checklist {
    border-radius: 25px;
}

.slideInner-1,
.slideInner-2,
.slideInner-3,
.slideInner-4 {
    height: 100%;
    max-width: 450px;
    border-radius: 25px;
    background-color: $gray;
    overflow-y: scroll;

    .slide-head {
        font-size: $middlelarge;
        line-height: 3rem;
    }

    .checklist-button {
        display: block;
        margin: 5% auto 0;
        padding: $small;
        border-radius: 25px;
        width: 60%;
        font-family: $fontfamily;
        font-size: $middle;
        color: black;
        box-shadow: 3px 3px 0 black;
    }

    .checklist-button:active {
        transform: translate(3px, 3px);
        box-shadow: 0px 0px 0px black;
    }

    .checklist-button.checked {
        color: $white;
    }
}

.slideInner-1 {
    .checklist-button {
        border: 2px solid $korashoColor;
    }

    .checklist-button.checked {
        background-color: $korashoColor;
    }
}

.slideInner-2 {
    .checklist-button {
        border: 2px solid $green;
    }

    .checklist-button.checked {
        background-color: $green;
    }

}

.slideInner-3 {
    .slide-p {
        margin-top: $small;
    }

    .checklist-button {
        margin-top: $small !important;
        border: 2px solid $darkblue;
    }

    .checklist-button.checked {
        background-color: $darkblue;
    }
}

.slideInner-4 {
    .checklist-button {
        border: 2px solid $yellow;
    }

    .checklist-button.checked {
        background-color: $yellow;
    }

    .slide-img {
        width: 70%;
        margin: auto;
        border: 2px solid $gray;

        img {
            border-radius: 25px;
            width: 100%;
        }
    }
}

.content {
    transition: background-color 0.5s ease;
}

.slide-1 {
    background-color: $darkblue;

}

.slide-2 {
    background-color: $green;
}

.slide-3 {
    background-color: $korashoColor;

}

.slide-4 {
    background-color: $yellow;
}


.button-icon {
    margin: 0 auto;
    width: 40%;
}

.send-text {
    padding: $small;
    width: 60vw;
    border: 2px solid $green;
    border-radius: 25px;
}

.slide-p {
    font-size: 1.5rem;
}

.basemagorun {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checklist-div {
    max-width: 100px;
    max-height: 100px;
    padding: 1px;
    border: 2px solid $gray;
    border-radius: 25px;

    .div-icon {
        width: 100%;
        height: auto;
        border-radius: 25px;
    }
}

.slide-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5px 2rem;

}

.slide-already {
    color: $white;
    width: fit-content;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: $darkblue;
    border-radius: 9999px;
    box-shadow: 2px 2px 0px black;
}

.slide-p-top {
    margin-top: $small;
}

.modal-img {
    width: 80%;
    margin: 0 auto;
}