// リセットCSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// リセットCSS終了
// フォント
@font-face {
    font-family: 'nikomoji';
    src: url(../asset/nicomoji-plus_v2.woff);
}
html{
	font-family: "nikomoji";
}
.container{
    height: 100%;
}
.content {
	margin: 0 auto;
	height: 100%;
	max-width: 450px;
}
// 変数定義
$korashoColor: #ee4d37;
$darkblue: #004aad;
$gray: #e2e2e2;
$white: #fff;
$big: 3rem;
$middlelarge:2rem;
$middle: 1.5rem;
$normal: 1rem;
$small: 0.5rem;

// スタイル


.container {
    display: block;
    height: 100dvh;
    width: 100vw;
    position: fixed;
    position: -webkit-fixed;
    top: 0;
}
.content{
    max-width: 450px;
}

.magorun {
    display: flex;
    justify-content: space-around;
    a {
        text-decoration: none;
    }
}

.basemagorun, .activemagorun {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 40vw;
    text-align: center;
    border-radius: 20px;
    box-shadow: 4px 4px 0px black;
    &-num {
        font-size: 2rem;
    }
    &-tanni {
        text-align: right;
    }
}

.basemagorun {
    background-color: $white;
    a {
        color: $korashoColor;
    }
}

.activemagorun {
    background-color: $darkblue;
    a {
        color: $white;
    }
}

// 部屋の設定
.room {
    margin-top: 1rem;
    img {
        width: 100%;
        height: auto;
    }
}
// フッターの設定
.menu {
    width: 100%;
    max-width: 450px;
    height: auto;
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;

    .menu-item {
        width: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 25px;
        background: $white;
        text-align: center;
        box-shadow: 4px 4px 0px black;
        a {
            text-decoration: none;
            color: $darkblue;
        }
        .menu-icon {
            width: 100%;
            height: auto;
            .menu-icon-img {
                width: 70%;
            }
        }
    }
    .menu-item:hover,.menu-item:active{
        box-shadow: 0px 0px 0px black;
        transform: translate(4px, 4px);
    }
}

// モーダルの設定
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    background-color: $white;
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid $gray;
    border-radius: 25px;
    width: 80%; 
    opacity: 0; 
    transition: opacity 0.5s ease; 
    .modal-topmessage{
        text-align: center;
        font-size: $middlelarge;
    }
    .modal-img{
        display: block;
        margin: 0 auto;
    }
    a{
        display: block;
        text-decoration: none;
        color: $korashoColor;
        border: 2px solid $korashoColor;
        width: fit-content;
        margin: auto;
        padding: 0.5rem;
        border-radius: 25px;
        box-shadow: 2px 2px 0px black;
    }
    a:hover,a:active{
        background-color: $korashoColor;
        color: $white;
        transform: 2px 2px;
        box-shadow: 0px 0px 0px black;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal.show .modal-content {
    opacity: 1;
}
// モーダルの設定終了
.fadein{
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}
.fadein.visible{
    opacity: 1;
}
.fade-out{
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}