html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "nikomoji";
  src: url(../asset/nicomoji-plus_v2.woff);
}
html {
  font-family: "nikomoji";
}

.content {
  margin: 0 auto;
  height: 100%;
  max-width: 450px;
}

.container {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
}

.content {
  max-width: 450px;
}

.magorun {
  display: flex;
  justify-content: space-around;
}
.magorun a {
  text-decoration: none;
}

.basemagorun, .activemagorun {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 40vw;
  text-align: center;
  border-radius: 20px;
  box-shadow: 4px 4px 0px black;
}
.basemagorun-num, .activemagorun-num {
  font-size: 2rem;
}
.basemagorun-tanni, .activemagorun-tanni {
  text-align: right;
}

.basemagorun {
  background-color: #fff;
}
.basemagorun a {
  color: #ee4d37;
}

.activemagorun {
  background-color: #004aad;
}
.activemagorun a {
  color: #fff;
}

.room {
  margin-top: 1rem;
}
.room img {
  width: 100%;
  height: auto;
}

.menu {
  width: 100%;
  max-width: 450px;
  height: auto;
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.menu .menu-item {
  width: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 25px;
  background: #fff;
  text-align: center;
  box-shadow: 4px 4px 0px black;
}
.menu .menu-item a {
  text-decoration: none;
  color: #004aad;
}
.menu .menu-item .menu-icon {
  width: 100%;
  height: auto;
}
.menu .menu-item .menu-icon .menu-icon-img {
  width: 70%;
}
.menu .menu-item:hover, .menu .menu-item:active {
  box-shadow: 0px 0px 0px black;
  transform: translate(4px, 4px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #ee4d37;
  border-radius: 25px;
  width: 80%;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.modal-content .modal-topmessage {
  text-align: center;
  font-size: 2rem;
}
.modal-content .modal-img {
  display: block;
  margin: 0 auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal.show .modal-content {
  opacity: 1;
}

.fadein {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.fadein.visible {
  opacity: 1;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}/*# sourceMappingURL=style.css.map */