$korashoColor: #ee4d37;
$white: #fff;
$darkblue: #004aad;
$green: #70ad00;
$gray: #e2e2e2;

$fontfamily: "nikomoji";
$big: 3rem;
$middlelarge: 2rem;
$middle: 1.5rem;
$normal: 1rem;
$small: 0.5rem;

.slide-title{
    color: $white;
    text-align: center;
    margin: 15px 0 -5px;
    a{
        color: $white;
        padding: 3px;
        border: 2px solid $darkblue;
        border-radius: 25px;
        background-color: $darkblue;
        text-decoration: none;
    }
}

.checklistroot {
    text-align: center;
    width: 85vw;
    height: 60vh;
    margin: 15px auto 0;
}

.checklist {
    border-radius: 25px;
}

.slideInner-1,
.slideInner-2,
.slideInner-3 {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: $gray;
    // overflow-y: scroll;

    .slide-head {
        font-size: $middlelarge;
    }

    .checklist-button {
        display: block;
        margin: 5% auto 0;
        padding: $small;
        border-radius: 25px;
        background-color: $white;
        width: 90px;
        height: 90px;
        font-family: $fontfamily;
        font-size: $middle;
        color: black;
        box-shadow: 3px 3px 0 black;
    }

    .checklist-button:active {
        transform: translate(3px, 3px);
        box-shadow: 0px 0px 0px black;
    }

    .checklist-button.checked {
        color: $white;
    }
}

.slideInner-1 {
    .checklist-button {
        border: 2px solid $korashoColor;
    }

    .checklist-button.checked {
        background-color: $korashoColor;
    }
}

.slideInner-2 {
    .checklist-button {
        border: 2px solid $green;
    }

    .checklist-button.checked {
        background-color: $green;
    }

}

.slideInner-3 {
    .checklist-button {
        border: 2px solid $darkblue;
    }

    .checklist-button.checked {
        background-color: $darkblue;
    }
}

.content {
    transition: background-color 0.5s ease;
}


.slide-1 {
    background-color: $korashoColor;
}

.slide-2 {
    background-color: $green;
}

.slide-3 {
    background-color: $darkblue;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 0px;
}
.item{
    width: 100%;
    border-radius: 20px;
    gap: 5px;
}
.send{
    padding: $small;
    font-family: $fontfamily;
    font-size: $middle;

    border: 2px solid $korashoColor;
    border-radius: 25px;
    box-shadow: 3px 3px 0 black;
}
.send:active{
    transform: translate(3px,3px);
    box-shadow: 0px 0px 0 black;
}

