.slide-title {
  color: #fff;
  text-align: center;
  margin: 15px 0 -5px;
}
.slide-title a {
  color: #fff;
  padding: 3px;
  border: 2px solid #004aad;
  border-radius: 25px;
  background-color: #004aad;
  text-decoration: none;
}

.checklistroot {
  text-align: center;
  width: 85vw;
  height: 60vh;
  margin: 15px auto 0;
}

.checklist {
  border-radius: 25px;
}

.slideInner-1,
.slideInner-2,
.slideInner-3,
.slideInner-4,
.slideInner-5,
.slideInner-6 {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-color: #e2e2e2;
}
.slideInner-1 .slide-head,
.slideInner-2 .slide-head,
.slideInner-3 .slide-head,
.slideInner-4 .slide-head,
.slideInner-5 .slide-head,
.slideInner-6 .slide-head {
  font-size: 2rem;
}
.slideInner-1 .checklist-button,
.slideInner-2 .checklist-button,
.slideInner-3 .checklist-button,
.slideInner-4 .checklist-button,
.slideInner-5 .checklist-button,
.slideInner-6 .checklist-button {
  display: block;
  margin: 5% auto 0;
  padding: 0.5rem;
  border-radius: 25px;
  background-color: #fff;
  width: 110px;
  height: 110px;
  font-family: "nikomoji";
  font-size: 1.5rem;
  color: black;
  box-shadow: 3px 3px 0 black;
}
.slideInner-1 .checklist-button:active,
.slideInner-2 .checklist-button:active,
.slideInner-3 .checklist-button:active,
.slideInner-4 .checklist-button:active,
.slideInner-5 .checklist-button:active,
.slideInner-6 .checklist-button:active {
  box-shadow: 0px 0px 0px black;
}
.slideInner-1 .checklist-button.checked,
.slideInner-2 .checklist-button.checked,
.slideInner-3 .checklist-button.checked,
.slideInner-4 .checklist-button.checked,
.slideInner-5 .checklist-button.checked,
.slideInner-6 .checklist-button.checked {
  color: #fff;
}

.slideInner-1 .checklist-button {
  border: 2px solid #ee4d37;
}
.slideInner-1 .checklist-button.checked {
  background-color: #ee4d37;
}

.slideInner-2 .checklist-button {
  border: 2px solid #70ad00;
}
.slideInner-2 .checklist-button.checked {
  background-color: #70ad00;
}

.slideInner-3 .checklist-button {
  border: 2px solid #004aad;
}
.slideInner-3 .checklist-button.checked {
  background-color: #004aad;
}

.slideInner-4 .checklist-button {
  border: 2px solid rgb(174, 61, 174);
}
.slideInner-4 .checklist-button.checked {
  background-color: rgb(174, 61, 174);
}

.slideInner-5 .checklist-button {
  border: 2px solid #d6b71b;
}
.slideInner-5 .checklist-button.checked {
  background-color: #d6b71b;
}

.slideInner-6 .checklist-button {
  border: 2px solid #027ec6;
}
.slideInner-6 .checklist-button.checked {
  background-color: #027ec6;
}

.content {
  transition: background-color 0.5s ease;
}

.slide-1 {
  background-color: #ee4d37;
}

.slide-2 {
  background-color: #70ad00;
}

.slide-3 {
  background-color: #004aad;
}

.slide-4 {
  background-color: rgb(174, 61, 174);
}

.slide-5 {
  background-color: #d6b71b;
}

.slide-6 {
  background-color: #027ec6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0px;
}

.item {
  width: 100%;
  border-radius: 20px;
  gap: 5px;
}

.send {
  padding: 0.5rem;
  font-family: "nikomoji";
  font-size: 1.5rem;
  border: 2px solid #ee4d37;
  border-radius: 25px;
  box-shadow: 3px 3px 0 black;
}

.send:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 0 black;
}

.modal-img {
  width: 80%;
  margin: 0 auto;
}

.modal-p {
  text-align: center;
}

.activemagorun {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */